version: '3.8'
services:
  jenkins-docker:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    networks:
      jenkins:
        aliases:
          - docker
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - type: volume
        source: jenkins-docker-certs
        target: /certs/client
    expose:
      - 2376
    # ports:
    #   - 2375:2375

  jenkins-ssh-agent:
    build: ./
    container_name: jenkins-ssh-agent
    networks:
      jenkins:
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - JENKINS_AGENT_SSH_PUBKEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAOg/478pZZ19Ujnj5X2AddHNAeCbfM81xR4aZ7DcWQypxZZ5ucP7Z48z1LetkSM+078z4Utt+38YoX/c/BgJOGUYqUevUtNb2ic5q5G05NnqjUWtjooyrjVP5zYgZWAg47+veR7+1FYH1zCJOxVx2VWKLfsr5wEcFxW+ZNUmY+6myWwpMzYWCPKUojQhTZvfetBQwsoC+Ey41rmNRdxoYUvACm2v2rkgEDyQr8SIjch4TbArjRMN36XeoGERqTHWMP7cv7P7QUTh399j+oLoS+uAD0iHmhb6uRwTgwCEEjqgf/C0gBpSPXRTql1IucfkbGZOczqhfVfv7Rbb38M1Tkfy06SbLs0zqnlNzVmWeqRX7t6lN91bCeVhfFZ/RvdT/jBR8ImOKtGnXIMAqCXZW8JpchYhq76evpu9MfT6n6dvi4ISrKid40Y5WQw9rnRu9fIgWpIGEwarwMUMZS96U43E4wkIshNfJJjaXpOCmlcqUjDI8EcZlMbfkEgC5EYkMijIZp35r7E86ywnUyJrvH4kZaNmUQDHOjLOzhSL5VjZ06tF9/HYI617VlNfp2k/3ran6HabkcpOu8bgfKDfArXDwG9fnRYKQvXQ691VWw5WZvdp/6t+1QCLSv28ag/1J9PAvU7F+HFDqVfigrO0p3GdpqNoxLFAzGbLvG7WX/w== test@test.com"
    ports:
      - "2222:22"
    volumes:
      - jenkins-docker-certs:/certs/client:ro

networks:
  jenkins:

volumes:
  jenkins-docker-certs: